body{
    background-color: #737373;
    text-align: center;
}

#content{
    max-width: 1600px;
}
#title-card{
    width: 100%;
    text-align: center;
}

#content-img {
    max-width: 100%;
    margin: 0 auto;
    background-color: #737373 ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
}

.desk{
    border: 1em solid #444444;
    border-radius:50%;
    grid-column:1;
    text-align: center;
    width:65%;
}

.person{
    border: 1em solid #444444;
    border-radius:50%;
    grid-column:3;
    text-align: center;
    width:65%;
}

.graphic{
    border-radius:50%;
    border: 1em solid #444444;
    grid-column:2;
    text-align: center;
    width:65%;
}

