#content{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    max-width: 600px;
}

.home{
    padding-left: 10px;
    padding-right: 60px;
}    

.sub{
  width: 310px;  
  text-align: center;
  font-family: sans-serif;
  color: #929294;
  max-width: 310px;
}

  
h1{
    max-width: 300px;
    text-align: center;
    font-family: sans-serif;
    color: #666666;
    font-weight: bold;
    display: block;
    font-size: 2em;
}

.bottom{
    background-color: #E39968;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding-block: 12px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    width: 130px;
    font-size: 15px;
    font-weight: bold;
}

#subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.opt{
    font-size: 13px;
    font-family: sans-serif;
    color: #929294;
}

#email{
    font-family: sans-serif;
    color: #929294;
    width: 100%;
}

#name{
    font-family: sans-serif;
    color: #929294;
    width: 100%;
}

.x{
    float: right;
    margin-right: -25px
}
